extends ../layouts/layout

block content
  h1 Your Movies

  form(action='/movies', method='GET')
    input(type='text', name='search', placeholder='Search by title or genre', value=searchQuery)
    button(type='submit') Search

  a(href='/movies/add') + Add New Movie

  if movies.length
    each movie in movies
      div.card
        h3 #{movie.title} (#{movie.year})
        p Genre: #{movie.genre}
        a(href=`/movies/edit/${movie._id}`) Edit
        form(action=`/movies/delete/${movie._id}`, method='POST', style='display:inline')
          button(type='submit') Delete
  else
    p No movies found.
