extends ../layouts/layout

block content
  h2 Your Movies
  a(href="/movies/add") + Add New Movie
  ul
    each movie in movies
      li
        strong= movie.title
        |  – #{movie.genre} (#{movie.year})
        a(href=`/movies/edit/${movie._id}`) Edit
        a(href=`/movies/delete/${movie._id}`) Delete
